@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.navbar-brand-logo{
  height: 40px;
  width: 40px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.carousel-item {
  height: 500px;
}

.carousel-item img {
  width: 100%;
  height: 500px;
/* default */
 /* default: fill and crop if needed */
}
.brand-name {
  font-size: 15px;
  font-weight: 700;
font-family: "Poppins", sans-serif;
  color: #d97706; /* saffron-ish */
  margin: 0;
  padding: 0;
}

.brand-name span {
  color: #1f2937; /* dark gray for contrast */
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}


/* On large screens, show full image with padding (no cropping) */

.card-body:hover {
  background-color: azure;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.card-body:hover h5 {
  color: #007bff; /* Bootstrap primary blue */
  font-weight: bold;
  
}

